<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>500 Internal Server Error - Plantly</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f8f9fa;
      text-align: center;
      padding: 50px;
      height: 100vh;
      overflow-y:hidden ;
    }

    h1 {
      color: #343a40;
    }

    p {
      color: #495057;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  </style>
</head>

<body style="display: flex;justify-content: center; align-items: center;">
  <div>
  <img src="/assets/img/logo.png" alt="Plantly Logo">
  <h1>500 Internal Server Error</h1>
  <p>Oops! Something went wrong in our greenhouse. We're working to fix it.</p>
</div>
</body>

</html>
